{% extends 'base.html' %}
{% block title %} Nguyên liệu {% endblock %}

{% block body %}
<div class="container text-center my-5">
  <h3 class="text-white mb-4">Sản phẩm đang giảm giá</h3>

  {% if ingre|length < 1 %}
    <p class="text-white">Không có nguyên liệu nào.</p>
  {% else %}
  <div class="row justify-content-center" style="margin: 8px; background-color: rgb(219, 218, 218);" id="column">
    {% for ingredient in ingre %}
    <div class="col-md-3" style="background-color: white; margin: 10px; border-radius: 10px; padding: 10px;">
      <img src="{{ ingredient.ingredient_picture }}" alt="{{ ingredient.name }}" style="height: 202px; width: 180px; border-radius: 10px; object-fit: cover;">
      <div class="row mt-2">
        <h6 style="color: gray;">{{ ingredient.name }}</h6>
      </div>
      <div class="row mt-2 align-items-center">
        <div class="col text-start">
          <h5 style="font-weight: 600;">{{ ingredient.current_price }} đ</h5>
          <p style="color: gray;"><del>{{ ingredient.previous_price }} đ</del></p>
        </div>
        <div class="col text-end">
          <a href="/add-to-cart/{{ ingredient.id }}" class="btn btn-sm btn-primary">Thêm</a>
        </div>
      </div>
      <div class="row">
        <p>{{ ingredient.in_stock }} {{ ingredient.unit }} còn lại</p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
